In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [55]:
df_train = pd.read_csv("Train.csv")
df_test = pd.read_csv("Test.csv")
Sample_Submission = pd.read_csv("SampleSubmission.csv")

In [56]:
df_train.head()

,Place_ID X Date,Date,Place_ID,target,target_min,target_max,target_variance,target_count,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
0,010Q650 X 2020-01-02,2020-01-02,010Q650,38.0,23.0,53.0,769.50,92,11.000000,60.200001,...,38.593017,-61.752587,22.363665,1793.793579,3227.855469,0.010579,74.481049,37.501499,-62.142639,22.545118
1,010Q650 X 2020-01-03,2020-01-03,010Q650,39.0,25.0,63.0,1319.85,91,14.600000,48.799999,...,59.624912,-67.693509,28.614804,1789.960449,3384.226562,0.015104,75.630043,55.657486,-53.868134,19.293652
2,010Q650 X 2020-01-04,2020-01-04,010Q650,24.0,8.0,56.0,1181.96,96,16.400000,33.400002,...,49.839714,-78.342701,34.296977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,010Q650 X 2020-01-05,2020-01-05,010Q650,49.0,10.0,55.0,1113.67,96,6.911948,21.300001,...,29.181258,-73.896588,30.545446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,010Q650 X 2020-01-06,2020-01-06,010Q650,21.0,9.0,52.0,1164.82,95,13.900001,44.700001,...,0.797294,-68.612480,26.899694,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df_test.head()

,Place_ID X Date,Date,Place_ID,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,specific_humidity_2m_above_ground,temperature_2m_above_ground,u_component_of_wind_10m_above_ground,v_component_of_wind_10m_above_ground,L3_NO2_NO2_column_number_density,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
0,0OS9LVX X 2020-01-02,2020-01-02,0OS9LVX,11.600000,30.200001,0.00409,14.656824,3.956377,0.712605,0.000053,...,1.445658,-95.984984,22.942019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0OS9LVX X 2020-01-03,2020-01-03,0OS9LVX,18.300001,42.900002,0.00595,15.026544,4.230430,0.661892,0.000050,...,34.641758,-95.014908,18.539116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0OS9LVX X 2020-01-04,2020-01-04,0OS9LVX,17.600000,41.299999,0.00590,15.511041,5.245728,1.640559,0.000050,...,55.872276,-94.015418,14.140820,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0OS9LVX X 2020-01-05,2020-01-05,0OS9LVX,15.011948,53.100002,0.00709,14.441858,5.454001,-0.190532,0.000055,...,59.174188,-97.247602,32.730553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0OS9LVX X 2020-01-06,2020-01-06,0OS9LVX,9.700000,71.599998,0.00808,11.896295,3.511787,-0.279441,0.000055,...,40.925873,-96.057265,28.320527,1831.261597,3229.118652,0.031068,-100.278343,41.84708,-95.910744,28.498789

In [58]:
df_train.shape,df_test.shape

((30557, 82), (16136, 77))

In [59]:
set(df_train.columns) - set(df_test.columns)

{'target', 'target_count', 'target_max', 'target_min', 'target_variance'}

In [60]:
Sample_Submission.head()

        Place_ID X Date  target
0  0OS9LVX X 2020-01-02       0
1  0OS9LVX X 2020-01-03       0
2  0OS9LVX X 2020-01-04       0
3  0OS9LVX X 2020-01-05       0
4  0OS9LVX X 2020-01-06       0

In [61]:
df_train.isna().sum()

Place_ID X Date                     0
Date                                0
Place_ID                            0
target                              0
target_min                          0
                                ...
L3_CH4_aerosol_optical_depth    24765
L3_CH4_sensor_azimuth_angle     24765
L3_CH4_sensor_zenith_angle      24765
L3_CH4_solar_azimuth_angle      24765
L3_CH4_solar_zenith_angle       24765
Length: 82, dtype: int64

In [62]:
df_test.isna().sum()

Place_ID X Date                             0
Date                                        0
Place_ID                                    0
precipitable_water_entire_atmosphere        0
relative_humidity_2m_above_ground           0
                                        ...
L3_CH4_aerosol_optical_depth            13021
L3_CH4_sensor_azimuth_angle             13021
L3_CH4_sensor_zenith_angle              13021
L3_CH4_solar_azimuth_angle              13021
L3_CH4_solar_zenith_angle               13021
Length: 77, dtype: int64

In [63]:
for label,content in df_train.items():
    if not pd.api.types.is_numeric_dtype(content):
        print(label)

Place_ID X Date
Date
Place_ID

In [64]:
df_train["Date"]

0        2020-01-02
1        2020-01-03
2        2020-01-04
3        2020-01-05
4        2020-01-06
            ...
30552    2020-03-15
30553    2020-03-16
30554    2020-03-17
30555    2020-03-18
30556    2020-03-19
Name: Date, Length: 30557, dtype: object

In [65]:
from sklearn.preprocessing import LabelEncoder
s = (df_train.dtypes == 'object')
object_cols = list(s[s].index)
label_en = LabelEncoder()
df_train_en = df_train.copy()
for col in object_cols:
    df_train_en[col] = label_en.fit_transform(df_train[col])

In [66]:
for label,content in df_train_en.items():
    if not pd.api.types.is_numeric_dtype(content):
        print(label)

In [67]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
imputed_train = pd.DataFrame(imputer.fit_transform(df_train_en))
imputed_train.columns = df_train_en.columns

In [68]:
imputed_train.isna().sum()

Place_ID X Date                 0
Date                            0
Place_ID                        0
target                          0
target_min                      0
                               ..
L3_CH4_aerosol_optical_depth    0
L3_CH4_sensor_azimuth_angle     0
L3_CH4_sensor_zenith_angle      0
L3_CH4_solar_azimuth_angle      0
L3_CH4_solar_zenith_angle       0
Length: 82, dtype: int64

In [69]:
imputed_train.drop('target_variance',axis=1,inplace=True)
imputed_train.drop('target_count',axis=1,inplace=True)
imputed_train.drop('target_min',axis=1,inplace=True)
imputed_train.drop('target_max',axis=1,inplace=True)

In [70]:
X = imputed_train.drop("target",axis=1)
y = imputed_train["target"]

In [71]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [72]:
from sklearn.metrics import mean_squared_log_error,mean_absolute_error,r2_score
def rmsle(y_test,y_preds):
    return np.sqrt(mean_squared_log_error(y_test,y_preds))
# Create function to evaluate model on a few different levels
def show_scores(model):
    train_preds = model.predict(X_train)
    val_preds = model.predict(X_test)
    scores = {
        "Valid MAE":mean_absolute_error(y_test,val_preds),
        "Valid RMSLE": rmsle(y_test,val_preds),
        "Valid R^2": r2_score(y_test,val_preds)
    }
    return scores

In [73]:
model = RandomForestRegressor(n_jobs=-1)
model.fit(X_train,y_train)
show_scores(model)

{'Valid MAE': 19.2502234947644,
 'Valid RMSLE': 0.5114920569470315,
 'Valid R^2': 0.6572681105777898}

In [74]:
model_1 = GradientBoostingRegressor()
model_1.fit(X_train,y_train)
show_scores(model_1)

{'Valid MAE': 23.377917635960102,
 'Valid RMSLE': 0.5833868893369715,
 'Valid R^2': 0.5343272399638958}

In [38]:
from sklearn.ensemble import BaggingRegressor,AdaBoostRegressor,ExtraTreesRegressor
model_2 = BaggingRegressor()
model_2.fit(X_train,y_train)
show_scores(model_2)

{'Valid MAE': 20.60502126963351,
 'Valid RMSLE': 0.5242804437082648,
 'Valid R^2': 0.5360493601843426}

In [75]:
model_3 = AdaBoostRegressor()
model_3.fit(X_train,y_train)
show_scores(model_3)

{'Valid MAE': 50.93171486291215,
 'Valid RMSLE': 1.0288206683212127,
 'Valid R^2': -0.5670652972839418}

In [76]:
model_4 = ExtraTreesRegressor()
model_4.fit(X_train,y_train)
show_scores(model_4)

{'Valid MAE': 18.513241001308902,
 'Valid RMSLE': 0.4960592026604879,
 'Valid R^2': 0.6874446735264863}

In [78]:
from sklearn.model_selection import RandomizedSearchCV
# Different RandomForestRegressor hyperparameters
rf_grid = {
    "n_estimators":np.arange(10,200,10),
    "max_depth":[None,3,5,10,100],
    "min_samples_split":np.arange(2,20,2),
    "min_samples_leaf":np.arange(1,20,2),
    "max_features": [0.5,1,"sqrt","auto"],
    "max_samples":[10000]
}
# Instanciate RandomizedSearchCV
rs_model = RandomizedSearchCV(
ExtraTreesRegressor(n_jobs=-1,
                     random_state=42),
                    param_distributions = rf_grid,
                     n_iter=50,
                    cv=5,
                    verbose=True)
rs_model.fit(X_train,y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 250 out of 250 | elapsed:  5.2min finished

RandomizedSearchCV(cv=5,
                   estimator=ExtraTreesRegressor(n_jobs=-1, random_state=42),
                   n_iter=50,
                   param_distributions={'max_depth': [None, 3, 5, 10, 100],
                                        'max_features': [0.5, 1, 'sqrt',
                                                         'auto'],
                                        'max_samples': [10000],
                                        'min_samples_leaf': array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19]),
                                        'min_samples_split': array([ 2,  4,  6,  8, 10, 12, 14, 16, 18]),
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190])},
                   verbose=True)

In [79]:
rs_model.best_params_

{'n_estimators': 80,
 'min_samples_split': 4,
 'min_samples_leaf': 3,
 'max_samples': 10000,
 'max_features': 'auto',
 'max_depth': None}

In [80]:
show_scores(rs_model)

{'Valid MAE': 18.691214355833957,
 'Valid RMSLE': 0.49655716854138304,
 'Valid R^2': 0.6789373010160263}

In [81]:
ideal_model = ExtraTreesRegressor(
n_estimators=80,
min_samples_split=4,
min_samples_leaf=3,
max_samples=10000,
max_features='auto',
max_depth=None)
ideal_model.fit(X_train,y_train)
show_scores(ideal_model)

{'Valid MAE': 18.789264115641622,
 'Valid RMSLE': 0.4989514765954178,
 'Valid R^2': 0.6752490868455532}

In [82]:
from sklearn.preprocessing import LabelEncoder
s = (df_test.dtypes == 'object')
object_cols = list(s[s].index)
label_en = LabelEncoder()
df_test_en = df_test.copy()
for col in object_cols:
    df_test_en[col] = label_en.fit_transform(df_test[col])

In [83]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
imputed_test = pd.DataFrame(imputer.fit_transform(df_test_en))
imputed_test.columns = df_test_en.columns

In [84]:
predictions1= model_4.predict(imputed_test)
predictions2= rs_model.predict(imputed_test)
predictions3= ideal_model.predict(imputed_test)

In [87]:
# Loading test predictions into csv
submission_1 = pd.DataFrame({'Place_ID X Date':df_test["Place_ID X Date"],'target': predictions3});
submission_1.to_csv('submission_6.csv', index=False)
submission_1

            Place_ID X Date     target
0      0OS9LVX X 2020-01-02  41.211875
1      0OS9LVX X 2020-01-03  37.139167
2      0OS9LVX X 2020-01-04  37.755833
3      0OS9LVX X 2020-01-05  37.097208
4      0OS9LVX X 2020-01-06  43.031375
...                     ...        ...
16131  ZZDJZMS X 2020-03-31  52.635000
16132  ZZDJZMS X 2020-04-01  46.012083
16133  ZZDJZMS X 2020-04-02  50.986250
16134  ZZDJZMS X 2020-04-03  49.539167
16135  ZZDJZMS X 2020-04-04  49.573542

[16136 rows x 2 columns]